<app>
  <router>
    <route path="/">
      <Home />
    </route>
    <route path="/terms">
      <Terms />
    </route>
    <route path="/login">
      <Login />
    </route>
    <route path="/project">
      <Project />
    </route>
    <route path="/editor">
      <Editor />
    </route>
  </router>

  <script>
    import { Router, Route } from '@riotjs/route'
    import lazy from '@riotjs/lazy'
    import Loader from './components/loader.riot'
    import NotFound from './pages/not-found.riot'

    export default {
      components: {
        Router,
        Route,
        NotFound,
        Home: lazy(Loader, () => import('./pages/home.riot')),
        About: lazy(Loader, () => import('./pages/about.riot')),
        Terms: lazy(Loader, () => import('./pages/terms.riot')),
        Login: lazy(Loader, () => import('./pages/login.riot')),
        Project: lazy(Loader, () => import('./pages/project.riot')),
        Editor: lazy(Loader, () => import('./pages/editor.riot')),
      },
      state: {
        showNotFound: false,
      },
    }
  </script>
</app>