<app>
  <router>
    <div if={state.showNotFound}>
      <not-found />
    </div>
    <div if={!state.showNotFound}>
    <route path="/">
      <Home name={route[0]} />
    </route>
      
    </div>
  </router>

  <script>
    import { Router, Route, route, toRegexp, match } from '@riotjs/route'
    import lazy from '@riotjs/lazy'
    import Loader from './components/loader.riot'
    import NotFound from './pages/not-found.riot'

    export default {
      components: {
        Router,
        Route,
        NotFound,
        Home: lazy(Loader, () => import('./pages/home.riot')),
        About: lazy(Loader, () => import('./pages/about.riot')),
      },
      state: {
        showNotFound: false,
        activePage: null
      },
      onBeforeMount() {
        this.anyRouteStream = route('(.*)')
        this.anyRouteStream.on.value(this.onAnyRoute)
      },
      onAnyRoute(path) {
        const activePage = pages.find(page => match(path.pathname, toRegexp(page.path)))
        this.update({
          activePage,
          showNotFound: !activePage
        })
      },
      onBeforeUnmount() {
        this.anyRouteStream.end()
      }
    }
  </script>
</app>
