<app>
  <router>
    <route path="/">
      <Home />
    </route>
    <route path="/terms">
      <Terms />
    </route>
    <route path="/editor">
      <Graph />
    </route>
  </router>

  <script>
    import { Router, Route, route, toRegexp, match } from '@riotjs/route'
    import lazy from '@riotjs/lazy'
    import Loader from './components/loader.riot'
    import NotFound from './pages/not-found.riot'

    export default {
      components: {
        Router,
        Route,
        NotFound,
        Home: lazy(Loader, () => import('./pages/home.riot')),
        About: lazy(Loader, () => import('./pages/about.riot')),
        Terms: lazy(Loader, () => import('./pages/terms.riot')),
        Graph: lazy(Loader, () => import('./components/graph.riot')),
      },
      state: {
        showNotFound: false,
      },
      onBeforeMount() {
      },
      onBeforeUnmount() {
        this.anyRouteStream.end()
      }
    }
  </script>
</app>
