<create>

    <header-bar />
    <footer-bar />

    <script>

        import HeaderBar from '../components/header.riot'
        import FooterBar from '../components/footer.riot'


        export default {
            components: {
                HeaderBar,
                FooterBar,

            },
            onMounted() {
                console.log('Create page mounted');
            }
        }
    </script>
</create>