<graph>
  <div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1" id="graph-canvas-container">
      <canvas id="graph-canvas" class=""></canvas>
    </div>
  </div>

  <script>
    import { initGraph, destroyGraph, setBus } from "../services/editorService"

    export default {
      state: {
      },
      onBeforeMount() {
        this.graphState = null
      },
      onMounted() {
        setBus(this.bus, this.EVENT_TYPES)
        const canvas = document.getElementById('graph-canvas')
        const container = document.getElementById('graph-canvas-container')
        if (canvas && container) {
          // Don't create demo nodes automatically - let the editor page load project nodes
          this.graphState = initGraph(canvas, container, 
          {autoArrange: true, layout: 'vertical', createDemo: false} )
          
          // Notify that the editor is ready
          this.bus.trigger(this.EVENT_TYPES.EDITOR_READY)
        }
      },
      onBeforeUnmount() {
        destroyGraph(this.graphState)
        this.graphState = null
      }
    }
  </script>
</graph>
