version: "3.9"

networks:
  backend_network:
    external: true

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped

    # Enable NVIDIA GPU
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ gpu ]

    # enable all GPUs
    gpus: all

    # Environment variables for remote access
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_ORIGINS=*

    volumes:
      - ollama_data:/root/.ollama

    ports:
      - "11434:11434"

    # Connect to backend network for communication with Executor
    networks:
      - backend_network

volumes:
  ollama_data:


