version: "3.9"

services:
  redis:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodpt-redis:latest
    container_name: nodpt-redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data:
