services:
  redis:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodpt-redis:latest
    container_name: nodpt-redis

    ports:
      - "6379:6379" # FIXED

    volumes:
      - redis-data:/data
    restart: always
    networks:
      - backend_network

volumes:
  redis-data:


networks:
  backend_network:
    external: true
